@page "/creator/createsurvey"
@using DynamicSurveyWebApp.Dto
@inject HttpClient Http

<h3>CreateSurvey</h3>

<input @bind-value="SurveyDto.CreatorId" type="number" placeholder="Creator Id" />

<input @bind-value="SurveyDto.Title" type="text" placeholder="Title" width="100" height="100" size="100" />

<input @bind-value="QuestionText" name="QuestionText" type="text" placeholder="Question Text" width="100" height="100" size="100" />

<button @onclick="AddQuestion">Add</button>
<button @onclick="CreateAsync">Create</button>

<br/>
<br/>

<span>
    @Response
</span>


@code {

    
    public string QuestionText { get; set; }

    
    public CreateSurveyDto SurveyDto { get; set; }

    
    public string Response { get; set; }



    public void AddQuestion()
    {

        Tuple<string, int> questionTuple = new Tuple<string, int>(QuestionText, 1);

        SurveyDto.Questions.Add(questionTuple);

        QuestionText = "";

    }

    public async void CreateAsync()
    {
        HttpResponseMessage responseMessage = await Http.PostAsJsonAsync("http://localhost:57030/Api/Surveys", SurveyDto);

        CreateSurveyResponseDto response = await responseMessage.Content.ReadFromJsonAsync<CreateSurveyResponseDto>();

        Response = response.ResponseMessage;

        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        SurveyDto = new CreateSurveyDto();

        SurveyDto.Questions = new List<Tuple<string, int>>();

        SurveyDto.IsAnonymous = true;
    }
}
